
<div class="info">

  <h4 class="name"><%= meeting.name %></h4>
  <span class="action"> <%= link_to 'event', meeting %> has been created</span>
</div>
<div class="content">
  <h3><%= meeting.name %></h3>
  <span class="text">
    <%= fa_icon'calendar' %> <%= formatted_time(meeting.start_time) %>
  </span>
  <%= render 'appwide/created_at', activity: meeting %>
  <div class="points">
    
    <div class="pull-right">
      <% if belongs_to_user?(meeting) %>
        <%= form_tag meeting_path(meeting), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'appwide/actions', resource: meeting %>
