<p id="notice"><%= notice %></p>

<div class="row">
  <div class="well">
    <%= @meeting.name %>
    <%= @meeting.start_time %>
    <%= @meeting.image_url%>
    <%= @meeting.description %>
  </div>
</div>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
