<div id="links" class="well">
  <h5>
    <%= fa_icon 'group' %>
    <%= link_to 'Manage Users', users_path %>
  </h5>
  <h5>
    <%= fa_icon 'wrench' %>
    <%= link_to 'Manage Posts', posts_path %>
  </h5>
  <h5>
    <%= fa_icon 'newspaper-o' %>
    <%= link_to 'Manage Events', welcome_path %>
  </h5>
  <h5>
    <%= fa_icon 'calendar-check-o' %>
    <%= link_to 'Edit Calendar', welcome_path %>
  </h5>
  <h5>
    <%= fa_icon 'chevron-circle-right' %>
    <%= link_to 'Manage Links', welcome_path %>
  </h5>

</div>