<div id="links" class="well">
  <h5>
    <%= fa_icon 'user' %>
    <%= link_to 'My Page', user_path(current_user) %>
  </h5>
  <h5>
    <%= fa_icon 'envelope' %>
    <%= link_to 'Messages', welcome_path %>
  </h5>
  <h5>
    <%= fa_icon 'newspaper-o' %>
    <%= link_to 'Activity', welcome_path %>
  </h5>
  <h5>
    <%= fa_icon 'child' %>
    <%= link_to 'Friends', welcome_path %>
  </h5>
  <h5>
    <%= fa_icon 'group' %>
    <%= link_to 'Groups', groups_path %>
  </h5>
  <h5>
    <%= fa_icon 'calendar-o' %>
    <%= link_to 'Events', meetings_path %>
  </h5>
  <h5>
    <%= fa_icon 'calendar' %>
    <%= link_to 'Calendar', meetings_path %>
  </h5>
  <h5>
    <%= fa_icon 'arrow-circle-up' %>
    <%= link_to 'Leads', welcome_path %>
  </h5>
  <h5>
    <%= fa_icon 'thumbs-up' %>
    <%= link_to 'Choose Lead', users_path %>
  </h5>

</div>
