<div id="user-info" class="well">
  <div class="text-center">
    <%= render 'appwide/avatar', user: @user %><br>
    <h5><%= link_to @user.name, @user %></h5>
  </div>
  <h5>
    <%= fa_icon 'star' %>
    <%= pluralize((@user.point).round, 'points') %>
  </h5>
  <h5>
    <%= fa_icon 'shield' %>
    <%= pluralize(@user.posts_count, 'post') %>
  </h5>
  <h5>
    <%= fa_icon 'male' %>
    <%= @user.sex %>
  </h5>
  <% if @user.address.present? %>
    <h5>
      <%= fa_icon 'map-marker' %>
      <%= @user.address %>
    </h5>
  <% end %>
</div>