<div id="user-<%= @group.id %>" class="row">
	<div class="col-lg-3 col-lg-offset-1 well">
  	<h2><%= @group.name %></h2>
		<h4><%= @group.description %></h4>
		<br>
    <% @groups.each do |group| %>
      <% if group.users.include? current_user %>
        <%= link_to 'Edit', edit_group_path(@group), class: 'btn btn-primary' %>
      <% else %>
		    <%= link_to "Join", join_group_path(@group), class: 'btn btn-primary'%>
      <% end %>
    <% end %>
		<br><br>
		<h4>Members</h4>
		<p><%= link_to @group.users.map{|user| user.name}.join(',') %></p>		
  </div>

  <div class="col-lg-7">
  	<div id="activities">
    	<%= render 'posts/form' %>
    	<br>
      <% if @activities.empty? %>
        <div class="well">
          <%= render('appwide/no_resource', resources: 'Activities') %>
        </div>
      <% else %>
        <%= render_activities(@activities, layout: '/appwide/activity') %>
      <% end %>
    </div>
      <%= render 'appwide/paginate', resources: @activities %>
  </div>
</div>