    <% if signed_in? && current_user.admin? %>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 well">
          <h3>Registered Users</h3>
          <table class="bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= link_to 'Show', user, 'data-no-turbolink' => true %></td>
                <td><%= link_to 'Edit', edit_user_path(user) %></td>
                <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </table>
        <br>
        <%= link_to 'Back', user_path(current_user) %>
      </div>
    </div>

    <%elsif signed_in? && current_user.lead? %>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 well">
          <h3>Registered Users Pending Approval</h3>
          <table class="bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Approved</th>
                <th>Authorize</th>
              </tr>
            </thead>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.address %></td>
                <td><%= user.approved %></td>
                <td><%= link_to 'Approve', approve_user_path(user.id), class: 'btn btn-primary' %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

    <% elsif signed_in? && current_user.lead? %>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 well">
          <h3>Registered Users</h3>
          <table class="bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Points</th>
                <th>Votes</th>
                <th colspan="4"></th>
              </tr>
            </thead>
            <% @users.each do |user| %>
              <tr>
                <% if !(user.lead? && user.admin?) %>
                  <td><%= user.name %></td>
                  <td><%= (user.point).round %></td>
                  <td><%=  %></td>
                  <td><%= link_to 'Show', user, 'data-no-turbolink' => true %></td>
                  <td><%= link_to 'Edit', edit_user_path(user) %></td>
                  <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <td><%= button_to 'Promote', home_promote_path(:id => user.id), method: :post, class: 'pull-right btn btn-primary' %></td>
                <% end %> 
              </tr>
            <% end %>
          </table>
          <br>
          <%= link_to 'Back', user_path(current_user) %>
        </div>
      </div> 
  
    <% else %>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 well">
          <h3>Registered Users</h3>
          <table class="bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Points</th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <% @users.each do |user| %>
              <tr>
                <% if !(user.lead? && user.admin?) %>
                  <td><%= user.name %></td>
                  <td><%= (user.point).round %></td>
                  <td><%= link_to 'Show', user, 'data-no-turbolink' => true %></td>
                  <td><%= button_to 'Vote', home_vote_path(:id => user.id), method: :get, class: 'pull-right btn btn-primary' %></td>
                <% end %>
              </tr>
            <% end %>
          </table>
          <br>
          <%= link_to 'Back', user_path(current_user) %>
        </div>
      </div>
    <% end %>
  