<%= render 'appwide/cover', user: @user %>
<br>
<div id="user-<%= @user.id %>" class="row">
  <div class="col-lg-3">
    <%= render 'appwide/user_info' %>
  </div>
<!--   ADD ADDTIONAL STUFF-->  
<div class="col-lg-3">
    <% if @user.id == current_user.id %>
      <div class="well">
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to 'Edit Profile', edit_user_path(@user) %></li>
          <li><%= link_to 'Change password', edit_user_registration_path %></li>

        </ul>
      </div>
    <% end %>
  </div>
</div>