<%= render 'appwide/cover', user: @user %>
<br>
<div id="user-<%= @user.id %>" class="row">
  <div class="col-lg-4 col-md-offset-1">
    <%= render 'appwide/user_info' %>
  </div>

  <div class="col-lg-6">
    <div id="activities">
      <%= render 'posts/form' %>

      <%= month_calendar meetings: @meetings do |date, meetings| %>
        <%= date.day %>

        <% meetings.each do |meeting| %>
          <div>
            <%= meeting.name %>
          </div>

        <% end %>
      <% end %>

      <br>
      <% if @activities.empty? %>
        <div class="well">
          <%= render('appwide/no_resource', resources: 'Activities') %>
        </div>
      <% else %>
        <%= render_activities(@activities, layout: '/appwide/activity') %>
      <% end %>

    </div>
    <%= render 'appwide/paginate', resources: @activities %>
  </div>
  </div>
</div>

<p>This book has been put in some shopper cart for <user.point>
        </p>
