<%= form_for(@event) do |f| %>
  <div class="form-group">
    <%= f.label :event_name %>
    <%= f.text_field :name, autofocus: true, placeholder: 'Event Name', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :datetime %>
    <%= f.text_field :start_time, placeholder: 'When?', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :address, placeholder: 'Where?', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: 'About', class: 'form-control' %>
  </div>
  <%= f.hidden_field :group_id, :value => 0 %>
  <div class="actions">
    <%= f.submit :create, class: 'btn btn-primary' %>
  </div>
<% end %>